.ant-modal-content {
  background: rgba(255, 255, 255, .7);
  backdropFilter: blur(10px)
}

.ant-modal-header {
  background: rgba(255, 0, 0, .7);
  backdropFilter: blur(10px)
}


.blur-card {
  background: rgba(255, 255, 255, .3);
  backdropFilter: blur(10px)
}

.ant-card-small-achive {
  background: rgba(255, 255, 255, .3);
  backdropFilter: blur(10px)
}

.ant-card-small-achive>.ant-card-body {
  padding: 2px;
  height: 36px;
}


/* style={{ background: 'rgba(255, 255, 255, .7)', backdropFilter: 'blur(10px)' }} */