.gutter-box {
  padding: 8px 0;
  background: #00a0e9 !important;
}

.red {
  color: red;
}

.site-page-header {
  color: aliceblue
}

.ant-page-header-heading-title {
  color: aliceblue;
}

.ant-page-header-heading-sub-title {
  color: azure
}